html {
    scroll-behavior: smooth;
}

.jumbotron {
    padding: 6rem 0 0 !important;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.canvasDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrcodecanvas {
    border: 2px solid black;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}
