<<<<<<< HEAD
body {
  min-height: 2000px;
}

=======
>>>>>>> a3fe82dab306506126cc1e2f6eeaa75100bc4b64
.jumbotron {
  padding-top: 2rem 0 0 !important;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
